/*
CSS file created with:Instant Blueprint - Create a web project framework in seconds.
 http://instantblueprint.com

Project: Type your project name here ...
File: css/style.css
Last edited: July 25, 2010, 8:58 pm
*/

/*  Main  */
body {
 font-family: "Nobile", Helvetica, Arial, sans-serif;
 color: #666;
 font-size: 13px;
	height: 100%;
}

h1{
	font-family: "Yanone Kaffeesatz";
	color: #ccc;
	text-transform: uppercase;
	font-size: 8em;
}

.clear{
	clear:both;
}

#wrapper {
 margin:0 auto;
 width:900px; /*  Change to desired width :)  */
}

#header{
	padding: 20px;
	text-align: center;
}

#toolbar{
	float: left;
	margin-top: 10px;
	width: 200px;
}

#canvas{
	margin-left: 10px;
	float:left;
}

#footer{
	text-align: center;
}
.room {
	margin: 24px;
	background: #ddd;
	position: relative;
	overflow: hidden;
}

.rotate {
	float:left;
	height: 16px;
	width: 16px;
	background: url('../images/rotate.png');
}
.delete {
	float:right;
	height: 16px;
	width: 16px;
	background: url('../images/delete.png');
}

.rect {
	background: #ccc;
	width: 100%;
	height: 100%;
}

.rect .dim{
	font-family: "Yanone Kaffeesatz";
	font-size: 1.5em;
	color: #eee;
	clear:both;
	text-align: center;
}
.rect-margin:hover .rect{
	background: #bbb;
}
.info{
	display:none;
}
.float-info{
	display: none;
	position: absolute;
}
.door {
	background: #666;
}
.add-widget{
	padding: 10px;
}

.error{
	color: red;
}

#blurb p{
	margin-top: 5px;
}